<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">
       <button id="addbtn" class="btn btn-block btn-success"><span class="fa fa-plus"></span> 添加</button>
    </h3>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" id="keywords" value="{{keywords}}" name="pos_search" class="form-control pull-right" placeholder="搜索">

        <div class="input-group-btn">
          <button type="button" id="possearch" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th style="width: 10px">#</th>
        <th>公司Logo</th>
        <th>公司名称</th>
        <th>职位名称</th>
        <th>工作地点</th>
        <th>发布时间</th>
        <th>岗位薪资</th>
        <th style="width: 140px">操作</th>
      </tr>
        {{each list v i}}
        <tr>
          <td>{{i+1}}</td>
          <td><img width="50" height="50" src="{{`http://localhost:3000/uploads/${v.companyLogo}`}}" alt=""></td>
          <td>{{v.companyName}}</td>
          <td>{{v.positionName}}</td>
          <td>{{v.city}}</td>
          <td>{{v.createTime}}</td>
          <td>{{v.salary}}</td>
          <td>
            <button class="btn btn-sm btn-primary pos-update" posid="{{v._id}}" pageno="{{pageNo}}" keywords="{{keywords}}"><span class="fa fa-edit"></span> 修改</button>
            <button class="btn btn-sm btn-danger pos-remove" posid="{{v._id}}" pageno="{{pageNo}}" pagecount="{{pageCount}}" pagesize="{{pageSize}}" keywords="{{keywords}}" filename=""><span class="fa fa-remove"></span> 删除</button>
          </td>
        </tr>
        {{/each}}
        {{if list.length == 0}}
        <tr>
          <td colspan="8"> 暂无数据. </td>
        </tr>
        {{/if}}
    </table>
  </div>
  {{if list.length > 0}}
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="/#/position?pageNo={{pageNo > 1 ? pageNo-1 : 1}}">&laquo;</a></li>
      {{each pageArray v i}}
      <li class="{{(i+1) === pageNo ? 'active' : ''}}"><a href="/#/position?pageNo={{i+1}}">{{i+1}}</a></li>
      {{/each}}
      <li><a href="/#/position?pageNo={{pageNo < pageCount ? pageNo + 1 : pageCount}}">&raquo;</a></li>
    </ul>
  </div>
  {{/if}}
</div>
<!-- /.box -->